.Footer {
  background-color: black;
  font-family: karla;

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  p  {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}

.container {
  padding-top: 45px;
  padding-bottom: 36px;
}



.head {
  font-weight: 700;
  font-family: montserrat;
}

.subhead {
  font-weight: 700;
}