.Footer {
  background-color: black;
  font-family: karla;

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  p  {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}

<<<<<<< HEAD
.container {
  padding-top: 45px;
  padding-bottom: 36px;
=======
.footer {
  &__copyright {
    font-size: 14px;
    color: $thirty;
  }

  &__link {
    text-decoration: none;
    transition: all 0.8s ease 0s;

    &:hover {
      transition: all 0.8s ease 0s;
      color: $secondary;
    }
  }

  &__span {
    color: $primary;
  }
>>>>>>> succes redesign login
}



.head {
  font-weight: 700;
  font-family: montserrat;
}

.subhead {
  font-weight: 700;
}