.navbar {
  background-color: #171717;
  border-bottom: 1px solid #333;
  font-family: 'Montserrat';

  &__item {
    margin-right: 24px;
    font-weight: 200;
    color: $primary;
  }

  &__item.active a {
    color: $primary !important;
    font-weight: 600;
  }

  &__span {
    color: $primary;
    font-weight: 600;
  }

  &__login {
    margin-top: 20px;
    @include media-breakpoint-up(sm) {
      margin-top: 0px;
    }
  }

  &__login2 {
    margin-top: 20px;
    @include media-breakpoint-up(sm) {
      margin-top: 2px;
    }
  }

  &__register {
    margin-top: 20px;
    @include media-breakpoint-up(sm) {
      margin-top: 0px;
    }
  }

  &__cart {
    margin-left: -18px;
    @include media-breakpoint-up(sm) {
      margin-left: 0px;
    }
  }
}
