body {
  font-family: 'Montserrat';
}

.navbar {
  background-color: #171717;
  border-bottom: 1px solid #333;

  &__item {
    margin-right: 24px;
    font-weight: 200;
  }

  &__item.active a {
    color: #f9b234 !important;
    font-weight: 600;
  }

  &__span {
    color: #f9b234;
    font-weight: 600;
  }
}
