.cart {
  &__breadcrumb {
    margin-top: 50px;
  }

  &__small {
    color: #b7b7b7;
  }

  &__margin {
    margin-bottom: 100px;
  }

  &__margin__2 {
    margin-top: 50px;
  }

  &__color {
    color: $primary;
  }

  &__checkout__detail {
    background-color: #f6f7fb;
    border: 1px solid #eaeaea;
    color: #171717;
  }

  &__breadcrumb {
    margin-left: 11%;
  }

  &__minus {
    background-color: #eaeaef;
    color: white;
  }

  &__plus {
    background-color: green;
    color: white;
  }

  &__martop_empety {
    margin-top: -100px;
    @include media-breakpoint-up(sm) {
      margin-top: -150px;
    }
  }
}
