.carousel {
  height: 450px;
  background-color: #171717;
  color: white;
}

.carousel h1 {
  font-family: 'Lora';
}

.carousel p {
  font-weight: 200;
}

.img-fluid-2 {
  height: 350px;
}

.margin {
  margin-top: 60px;
}

.designer {
  &__heading1 {
    font-family: 'Lora';
    color: black;
    font-weight: bold;
  }

  &__font__paragraph {
    font-weight: 200;
    color: #4d4d4d;
  }

  &__heading5 {
    color: #171717;
  }
}
