.carousel {
  height: 450px;
  background-color: #171717;
  color: white;
}

.carousel h1 {
  font-family: 'Lora';
}

.carousel p {
  font-weight: 200;
}

.img-fluid-2 {
  height: 350px;
}

.margin {
  margin-top: 60px;
}
