.login {
  &__position {
    margin-top: 17vh;

    @include media-breakpoint-up(sm) {
      margin-top: 100px;
    }
  }

  &__label {
    text-align: right;
    @include label($secondary, 24px, bold);
  }

  &__form {
    background-color: white;
  }

  &__margin__2 {
    margin-top: -20px;
  }
}
