.login {
  &__position {
    margin-top: 10px;

    @include media-breakpoint-up(sm) {
      margin-top: 100px;
    }
  }

  &__label {
    text-align: right;
    @include label($secondary, 24px, bold);
  }

  &__form {
    background-color: white;
  }

  &__margin__2 {
    margin-top: -20px;
  }

  &__martop {
    margin-top: 10px;
    margin-bottom: 15px;

    @include media-breakpoint-up(sm) {
      margin-top: 100px;
      margin-bottom: 150px;
    }
  }

  &__height {
    display: inline-block;
    height: 40px;

    @include media-breakpoint-up(sm) {
      height: 50px;
      margin-top: 20px;
    }
  }

  &__text {
    margin-top: 20px;
  }

  &__span {
    color: $fourty;
  }
}
