$amber: #ffc107;
$sail: #99e8f7;
$cream: #fffcd1;

$cornflower-blue: #7371fc;
$french-lilac: #171717;
$white: #fff;
$black: #000;

$primary: $amber;
$secondary: #1a1a1a;
$thirty: $cream;
$info: $cornflower-blue;
$success: $french-lilac;
$transparent: transparent;
