$amber: #DC9501;
$sail: #99e8f7;
$cream: #fffcd1;

$cornflower-blue: #7371fc;
$french-lilac: #171717;
$white: #fff;
$black: #1A1A1A;

$primary: $amber;
$secondary: $cream;
$info: $cornflower-blue;
$success: $french-lilac;
$transparent: transparent;
